@{
    ViewBag.Title = "欢迎";
    bool isRoot = User.IsInRole("admin");
}


@if (User.Identity.IsAuthenticated)
{
    <h3>欢迎 @User.Identity.Name</h3>
    if (ViewBag.c.Count > 0)
    {

            <h2>正在进行的比赛</h2>
            <ul class="list-group">
                @foreach (var x in ViewBag.c)
                {
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">@Html.ActionLink((String)x.Title, "Details", "Contest", new { @id = (int)x.ID },null)</h4>
                        <p  class="list-group-item-text">将于 @x.End 结束</p>
                    </li>
                }

            </ul>

    }
    
}
else
{
    <h2>请您登录。</h2>
}
@if (isRoot)
{
    <h2>管理员面板</h2>
    @Html.ActionLink("批量添加用户", "UserImport", "Account", null, new { @class = "btn btn-default" })
    @Html.ActionLink("修改密码", "SetPassword", "Account", null, new { @class = "btn btn-default" })
    @Html.ActionLink("分类管理", "Index", "Tag", null, new { @class = "btn btn-default" })
}
