@model MvcApplication1.FormModels.SubmitModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Lang)
            <select name="Lang" class="form-control">
                <option value="cpp" selected="selected">C++</option>
            </select>
        </div>
    
        <div class="form-group col-md-6">
            <label>题目</label>
            <p class="form-control-static">
                @ViewBag.ProbTitle
                @if (ViewBag.ContTitle !=null)
                {
                    <span>这份代码将提交到比赛 @ViewBag.ContTitle</span>
                }
            </p>
            
        </div>
    </div>
    <h3>源代码:</h3>
    <div class="form-group">
        @Html.ValidationMessageFor(model => model.Src)
        @Html.TextAreaFor(model => model.Src,new {@class ="form-control",@id="SrcEdit",@rows=30})
    </div>
    <p>
        <input type="submit" value="Create" class="btn btn-default" />
    </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
