@model MvcApplication1.FormModels.SubmitSearchModel
@using MvcApplication1.Models
@{
    ViewBag.Title = "Index";
    bool isRoot = User.Identity.Name == "root";
}

<h2>所有提交</h2>

@Html.Partial("_Pagination")

<form class="form-inline" role="form">

    <div class="form-group">
        @Html.TextBoxFor( m => m.S,new {@class="form-control",placeholder="记录ID" })
    </div>
    <div class="form-group">
        @Html.TextBoxFor( m => m.C,new {@class="form-control",placeholder="比赛ID" })
    </div>
    <div class="form-group">
        @Html.TextBoxFor( m => m.P,new {@class="form-control",placeholder="题目ID" })
    </div>
    <div class="form-group">
        @Html.TextBoxFor( m => m.U,new {@class="form-control",placeholder="用户名" })
    </div>

    <div class="form-group">
        @Html.DropDownList("State",(List<SelectListItem>) ViewBag.StateList,new {@class="form-control"})
    </div>
    <button type="submit" class="btn btn-default">搜索</button>
</form>
@if (ViewBag.isSearch)
{
    <p class="help-block">由于设定了搜索条件，仅显示了符合条件的数据</p>
}
<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>
            题目
        </th>
        <th>
            用户
        </th>
        <th>
            提交时间
        </th>
        <th>
            状态
        </th>
        <th>
            成绩
        </th>
        <th></th>
    </tr>

@foreach (var item in ViewBag.Res) {
    <tr>
        <td>
            @item.ID
        </td>
        <td>
            @item.Prob.Title
            @if (item.Belog != null)
            {
                <span>(@item.Belog.Title)</span>
            }
        </td>
        <td>
            @item.User.UserName
        </td>
        <td>
            @item.Time
        </td>
        @if (item.State == SubmitState.Waiting || item.State == SubmitState.Running)
        {
            <td colspan="2">@item.State</td>
        }
        else
        {
            <td>
                @item.State
            </td>
            <td>
                @item.Score
            </td>
        }
        <td>
            <div class="btn-group">
            @Html.ActionLink("Details", "Details", new { id=item.ID },new {@class="btn btn-default"})
            @if (isRoot)
            {
                @Html.ActionLink("Delete", "Delete", new { id=item.ID },new {@class="btn btn-danger"})
            }
            </div>
        </td>
    </tr>
}

</table>
@if (isRoot)
{
    if (ViewBag.isSearch)
    {
        <form class="form-inline" role="form" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="Rejudge" value="REJDGE" />
            <button type="submit" class="btn btn-danger" >重新评测</button>
        </form>
    }
    else
    {
        <button class="btn btn-danger" disabled="disabled">重新评测</button>
        <span class="helpblock">请先确定搜索范围。</span>
    }
}