@model MvcApplication1.Models.Tag

@{
    ViewBag.Title = "编辑分类";
}

<h2>编辑分类</h2>
@using (Html.BeginForm("Edit", "Tag", FormMethod.Post, new { enctype = "multipart/form-data", @class = "col-md-6" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.ID)
    <div class="form-group">
        <label for="Tag">标签名称</label>
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <p>
        <input type="submit" value="保存" class="btn btn-success" />
    </p>
}
