@{
    ViewBag.Title = "SetPassword";
}

<h2>更改密码</h2>

@if (ViewBag.Res !=null)
{
    <h2>执行结果</h2>
    <p>@ViewBag.Res</p>
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    
    <div class="col-md-4">
        <div class="form-group">
            @Html.Label("username", "用户名");
            @Html.TextBox("username",null,new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.Label("password", "密码");
            @Html.TextBox("password",null,new { @class = "form-control" })
        </div>
        <div class="form-group">
              <input type="submit" value="更改密码" class="btn btn-primary"/>
        </div>
    </div>
}
