@model MvcApplication1.Models.Problem

@{
    ViewBag.Title = "Details";
}

<h1>@Model.Title</h1>
<div class="col-md-10">
@Html.Raw(@Model.Description)
</div>
<div class="col-md-2">
    <p>@ViewBag.ContTitle</p>
    <pre>@Model.CheckSum</pre>
    @Html.ActionLink("Submit", "Create","Submit", new { id=Model.ID ,c = ViewBag.c},new { @class = "btn btn-default" })
</div>