@model MvcApplication1.Models.Problem
@using MvcApplication1.Models
@{
    ViewBag.Title = "["+Model.ID+"] "+Model.Title;
    bool Disable = ViewBag.ContState != null && (ContestState)ViewBag.ContState == ContestState.Past;
}

<h1>@Model.Title</h1>
<div class="col-md-9">
@Html.Raw(@Model.Description)
</div>
<div class="col-md-3">
    @if (ViewBag.ContTitle!=null)
    {
        <div class="alert alert-warning text-center" >比赛: @ViewBag.ContTitle</div>
    } 
    @if (Disable)
    {
        @Html.ActionLink("Submit", "Create","Submit", new { id=Model.ID ,c = ViewBag.c},new { @class = "btn btn-default",disabled="disabled"})
        <p class="help-block">抱歉，比赛已经结束，请尝试在题库内提交</p>
        @Html.ActionLink("在题库中显示","Details",new { id=Model.ID})
    }
    else
    {
        @Html.ActionLink("Submit", "Create","Submit", new { id=Model.ID ,c = ViewBag.c},new { @class = "btn btn-primary btn-block" })
    }
    @if (Model.PublicSolution && !string.IsNullOrWhiteSpace(Model.Solution))
    {
        @Html.ActionLink("题解", "Solution", new { id = Model.ID }, new { @class = "btn btn-default  btn-block" })
    }
    @if (Model.FileList!=null)
    {
        <h3>附件列表：</h3>
        <div  class="list-group">
            @foreach (var x in Model.FileList)
            {
                <a href=@x class="list-group-item">@x.Substring(5)</a>
            }
        </div>
    }



    <h3>校验和：</h3>
    <pre>@Model.CheckSum</pre>
    
</div>