@model IEnumerable<MvcApplication1.Models.Problem>
@using MvcApplication1.Models
@{
    ViewBag.Title = "Index";
    bool isRoot = User.Identity.Name == "root";
}

<h2>Index</h2>

@if (isRoot)
{
<p>
    @Html.ActionLink("新建题目", "Create",null, new { @class = "btn btn-success" })
</p>
}

<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>题目名称</th>
        <th>题目得分</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    string state = "";
    string src = "无记录";
    if (ViewBag.Record.ContainsKey(item.ID))
    {
        Submit tmp = ViewBag.Record[item.ID];
        state = tmp.State == SubmitState.Accepted ? "success" : "danger";
        src = tmp.Score.ToString();
    }
    <tr class="@state">
        <td>
            @item.ID
        </td>
        <td>
            @Html.ActionLink(item.Title, "Details", new { id=item.ID })
        </td>
        <td>
            @src
        </td>
        <td>
            <div class="btn-group">
            @Html.ActionLink("提交", "Create","Submit", new { id=item.ID },new {@class="btn btn-default"})
            @if (item.PublicData || isRoot)
            {
                @Html.ActionLink("下载数据", "Downland", new { id=item.ID },new {@class="btn btn-default"})
            }
            @if (isRoot)
            {
                @Html.ActionLink("编辑", "Edit", new { id=item.ID },new {@class="btn btn-default"})
                @Html.ActionLink("删除", "Delete", new { id=item.ID },new {@class="btn btn-danger"})
            }

            </div>
        </td>
    </tr>
}

</table>
