@model MvcApplication1.FormModels.ContestFormModel

<div class="form-group">
    @Html.LabelFor(Model => Model.Title)
    @Html.TextBoxFor(model => model.Title,new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Title)
</div>

@*<div class="form-group">
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor( m => m.Public)
            @Html.LabelFor( m => m.Public)
        </label>
    </div>
</div>*@

<div class="form-group">
    @Html.LabelFor(Model => Model.Start)
    @Html.TextBoxFor(model => model.Start, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Start)
</div>

<div class="form-group">
    @Html.LabelFor(Model => Model.End)
    @Html.TextBoxFor(model => model.End, new { @class = "form-control"})
    @Html.ValidationMessageFor(model => model.End)
</div>

<div class="form-group">
    @Html.LabelFor( m => m.ProbStr)
    @Html.TextAreaFor(model => model.ProbStr, new { @class = "form-control",@rows="10"})
    @Html.ValidationMessageFor(model => model.ProbStr)
    <p class="help-block">输入比赛包含的题目ID，一行一个</p>
</div>

<div class="form-group">
    @Html.LabelFor( m => m.UserStr)
    @Html.TextAreaFor(model => model.UserStr, new { @class = "form-control",@rows="10" })
    @Html.ValidationMessageFor(model => model.UserStr)
    <p class="help-block">输入比赛注册的用户名，一行一个</p>
</div>
    
