@model IEnumerable<MvcApplication1.Models.Contest>
@using MvcApplication1.Models
@{
    ViewBag.Title = "Index";
    bool isRoot = User.Identity.Name == "root";
}

<h2>比赛列表</h2>
@if (isRoot)
{
    @Html.ActionLink("新建比赛", "Create",null, new { @class = "btn btn-success" })
}

@Html.Partial("_TagSelect")

<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>比赛名称</th>
        <th>比赛时间</th>
        <th>状态</th>
        <th></th>
    </tr>
    @foreach (var i in Model)
    {
        <tr>
            <td>@i.ID</td>
            <td>@i.Title <code>@i.Tag.Name</code></td>
            <td>@i.Start ~ @i.End</td>
            <td>@i.State</td>
            <td>
                <div class="btn-group">
                @if (i.State != ContestState.Before || isRoot)
                {
                    @Html.ActionLink("进入","Details",new { id =i.ID },new {@class="btn btn-default"})
                    @Html.ActionLink("排名","Rank",new { id =i.ID },new {@class="btn btn-default"})
                }
                @if (isRoot)
                {
                    @Html.ActionLink("编辑","Edit",new { id =i.ID },new {@class="btn btn-default"})
                    @Html.ActionLink("删除","Delete",new { id =i.ID },new {@class="btn btn-danger"})
                }
                </div>
            </td>
        </tr>
    }
</table>
