@model List<MvcApplication1.FormModels.JsonContestReslut>

@{
    ViewBag.Title = ViewBag.CTitle + "Rank";
}

<h2>@ViewBag.CTitle 比赛排名</h2>
@Html.ActionLink("导出", "Rank", new { @id = ViewBag.C, type = "csv", }, new { @class = "btn btn-default" })
<p class="help-block">由于Excal不能直接打开UTF8编码的CSV文件,请使用文本编辑器转换编码。 </p>
<table class="table table-striped">
    <tr>
        <th>用户名</th>
        @foreach(var x in ViewBag.prob)
        {
            <th>@x.Title</th>
        }
        <th>总分</th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>@item.UserName</td>
        @for ( int i=0;i< item.Details.Count;++i)
        {
            <td>@Html.ActionLink(item.Details[i],"Index","Submit",new { P = ViewBag.prob[i].ID , U = item.UserName ,C = ViewBag.C},null)</td>
        }
        <td>@item.Src</td>
    </tr>
}

</table>
